/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
/resources/laravel-code-generator
/resources/views/order_items
/resources/views/orders
/resources/views/items
/resources/views/category_items
/resources/views/categories

